<h1>Title: {{ question.name }}</h1>

<p><strong>User: </strong>{{ user }}</p>
<p><strong>Description:</strong> {{ question.question }}</p>
<p><strong>Category:</strong> {{ question.category.all|join:", " }}</p>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" type="submit" value="Submit">
</form>

<div style="margin-left:20px;margin-top:20px">
    <h4>Attempts</h4>
    {% for attempt in attempts %}
    <hr>
    <p
        class="{% if attempt.status == 'p' %}text-success{% elif attempt.status == 'f' %}text-danger{% else %}text-warning{% endif %}">
        {{ attempt.get_status_display }}
    </p>
    <p class="text-muted"><strong>Answer:</strong> {{ attempt }}</p>
    {% endfor %}
</div>