{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-6 mr-auto">
    <form class="" method='post'>
        {% csrf_token %}
        {{form|crispy}}
        <div class="row">
            <div class="col-2">
                <button class="form-control" type='submit'>Sign Up</button>
            </div>
            <div class="col-2">
                <a class="btn btn-secondary" href="{% url 'login' %}">Login ?</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}